body{

    background: linear-gradient(blue, orange, yellow,red,black,gray,pink,purple,rgb(130, 31, 31),white);

}
.nameofobjects{
    font-size: 25px;
 font-weight: 701;
 color:white
}

label{
    color:black;
    font-size: 20px;
}